* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Century Gothic"; /* Имя шрифта */
  src: url(fonts/GOTHIC.TTF); /* Путь к файлу со шрифтом */
 }

html {
  font-family: "Century Gothic"; /* Имя шрифта */
  src: url(fonts/GOTHIC.TTF);
  background-color: #262626;
  background-image: url(images/windows2.JPG);
  background-size: cover;
  }

@media screen and (max-width: 768px) {
  .wrapper .caption p {
  font-size: 2.5rem;
  }
  .menu {
    position: static;
    display: flex;
    flex-direction: column;
    margin-right: 10px; 
  }
  .menu_link {
    font-size: 20px;
    margin-left: auto;
    line-height: 1.6;
    text-transform: uppercase;
    padding: 2px;
  }
  .back {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 992px) {
  .wrapper .caption p {
  font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper .caption p {
  font-size: 4rem;
  }
}
  
nav  {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
  font-size: 20px;
  margin-left: 60%;
  margin-top: 10px;
  letter-spacing: 1px;
}

img {
  margin-top: 0px;
  width: 25px;
  height: 25px;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

.logo p {
  color: #f4f4f4;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
    font-size: 2em;
    text-align: center;
    margin-top: 13%;
    color: #f4f4f4;
    letter-spacing: 10px;
    font-weight: 600;
}

.footer span {
    position: fixed;
    left: 10px;
    bottom: 0;
    color: #f4f4f4;
    text-align: left;
    font-size: 10px;
    letter-spacing: 1px;
  }

.logo {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
  
}

.menu a:hover {
  /*color: #d1caca;*/
  opacity: .5;
}

img:hover {
  opacity: .5;
}

.footer a {
  text-decoration: none;
  color: #f4f4f4;
  
}

.back {
  position: absolute;
  float: left;
  margin-left: 2%;
  margin-top: auto;
}