html {
    Font-family: 'IBM Plex Mono', monospace;
    background-color: #262626;
  }

  @media screen and (min-width: 768px) {
    .wrapper .caption p {
      font-size: 2.5rem;
    }
  }

  @media screen and (min-width: 992px) {
    .wrapper .caption p {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .wrapper .caption p {
      font-size: 4rem;
    }
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin-right: 20px;
    text-align: right;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 30px;
  }
  
   .navbar a {
     text-decoration: none;
     font-size: 18px;
     color:#262626;
   }

   .navbar .back {
       padding-right: 75%;
   }

.wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.wrapper video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    object-fit: cover;
}

.wrapper caption {
    position: relative;
    z-index: 20;
    color: #262626
}


/*.wrapper::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: -4;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
}*/

p {
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    color: #262626;
}


.footer {
    position: fixed;
    left: 33px;
    bottom: 0;
    color: #262626;
    text-align: left;
    font-size: 7px;
  }


